@import 'reset';
@import 'variables';
@import 'buttons';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

@import "fa/fontawesome.scss";

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid $grey-1;
    width: 100%;
    min-height: 64px;
}