@import 'reset';
@import 'variables';
@import 'buttons';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

@import "fa/fontawesome.scss";
@import "fa/light.scss";
@import "fa/solid.scss";

body {
    font-family: $font-family;
    color: #4A4A4A;
    letter-spacing: 0.32px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

h1 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 8px;
}

h3 {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}

p {
    font-size: 16px;
    line-height: 22px;
}

a.alt-link {
    font-size: 14px;
    text-decoration: underline;
    padding: 15px 0;
    text-align: center;
    display: block;
}

input[type=text] {
    width: 100%;
    border: 1px solid $grey-2;
    border-radius: 100px;
    margin-bottom: 16px;
    padding: 12px 16px;
    box-sizing: border-box;
    font-size: 16px;
    background: white;
    &:focus {
        outline: 0;
        border: 1px solid $primary-color;
    }
}

input[type=radio] {
    -webkit-appearance: none;
    background: white;
    border: 1px solid #AAACAE;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    margin-right: 16px;
    &:checked:before {
        content: '';
        width: 16px;
        height: 16px;
        display: block;
        background: $primary-color;
        border-radius: 100px;
        position: relative;
        left: 3px;
        top: 3px;
    }
    &:focus {
        outline: 0;
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid $grey-1;
    width: 100%;
    min-height: 64px;
    flex: 0 0 auto;
    .logo {
        max-height: 16px;
        width: auto;
    }
}

.bag-icon {
  
    &:before {
        @extend %fa-icon;
        @extend .fal;
        content: fa-content($fa-var-shopping-bag);
        font-size: 1.5em;
    }

    position: absolute;
    right: 24px;
    color: $grey-3;

    span {
        background: $primary-color;
        color: white;
        position: absolute;
        z-index: 2;
        right: -10px;
        bottom: -8px;
        padding: 4px 8px;
        border-radius: 100px;
        font-size: 10px;
    }
}

.home-icon {
    position: absolute;
    right: 24px;
    color: $grey-3;

    &:before {
        @extend %fa-icon;
        @extend .fal;
        content: fa-content($fa-var-home);
        font-size: 1.5em;
    }
}

.checkout-steps {
    height: 56px;
    display: grid;
    align-items: flex-end;
    background: #EDEDED;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    grid-column-gap: 4px;
    grid-template-columns: repeat(3, 1fr);

    .checkout-step {
        height: 44px;
        border-radius: 2px 2px 0 0;
        opacity: 0.5;
        background: white;
        color: $grey-3;
        flex: 1 0 33%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;

        &.active {
            color: $primary-color;
            opacity: 1;
        }

        &.complete {
            color: $primary-color;
        }
        
        &.details-step:before {
            @extend %fa-icon;
            @extend .fas;
            content: fa-content($fa-var-user);
            margin-right: 4px;
        }
        
        &.delivery-step:before {
            @extend %fa-icon;
            @extend .fas;
            content: fa-content($fa-var-truck);
            margin-right: 4px;
        }
        
        &.payment-step:before {
            @extend %fa-icon;
            @extend .fas;
            content: fa-content($fa-var-pound-sign);
            margin-right: 4px;
        }
    }
}

.billing-intro,
.delivery-intro,
.delivery-method,
.payment-method {
    padding: 32px;
}

.payment-intro {
    padding: 0 32px 32px;
}

.billing-details {
    padding: 0 16px;
    margin-bottom: 32px;

    button {
        margin-bottom: 0;
    }
}

section.continue,
section.create-account {
    border-top: 2px solid $grey-1;
    padding: 32px 0;
    margin: 0 16px;

    h1, p {
        padding: 0 16px;
    }

    p {
        margin-bottom: 32px;
    }
}

footer {
    padding: 32px 16px;
    text-align: center;
    background: $grey-1;
    flex: 1 0 100%;
    box-sizing: border-box;
    flex: 0 0 auto;

    .payment-types {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px 0;

        img {
            margin-right: 16px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    p {
        font-size: 12px;
        line-height: 18px;
        padding: 0 16px;
    }
}

.delivery-address-select,
.delivery-method-select {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 24px;

    div {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    a.btn-primary {
        margin-top: 13px;
        margin-bottom: 32px;
    }
}

.billing-address {
    padding: 32px;
    background: $grey-1;
    margin-top: 13px;
}

.review-details {
    padding: 32px 16px;
    a {
        margin-bottom: 0;
    }
}

.payment-options {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background: $grey-1;

    a[class^="option"] {
        border-right: 1px solid darken($color: $grey-1, $amount: 10);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 0;
        flex: 1 0 20%;
        box-sizing: border-box;
        &:last-child {
            border-right: 0;
        }

        &.active {
            background: white;
            border-bottom: 2px solid $primary-color;
        }

        img {
            max-width: 50px;
            max-height: 26px;
        }
    }
}

.payment-details {
    padding: 24px 16px;
    form {
        display: flex;
        flex-flow: row wrap;
    }
    input:nth-child(2) {
        flex: 1 1 30%;
        margin-right: 8px;
    }
    input:nth-child(3) {
        flex: 1 1 30%;
        margin-left: 8px;
    }
    input:nth-child(4) {
        flex: 1 1 50%;
    }
    .cvv-help {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        margin-left: 16px;
    }
    .cvv-help-btn:before {
        @extend %fa-icon;
        @extend .fal;
        content: fa-content($fa-var-question-circle);
        color: $grey-2;
        margin-left: 8px;
        font-size: 1.5em;
    }
    a {
        margin-bottom: 0;
    }
}

.order-complete {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 32px 16px;
    &:before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-truck);
        color: $primary-color;
        font-size: 2.65em;
        margin-bottom: 24px;
    }
    p {
        margin-bottom: 16px;
    }
    a {
        margin-bottom: 0;
    }
}

.shop-quicker a {
    margin-bottom: 0;
}

.shopping-bag {
    display: none;
}

.shopping-bag-content {
    width: 100%;
}

.product-cards {
    border-top: 2px solid $grey-2;
}

.product-card {
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    border-radius: 4px;
    margin-top: 24px;
    padding: 8px;
    display: flex;
    flex-flow: row wrap;

    .product-details {
        display: flex;
        flex-flow: row;

        .product-details-column:first-child {
            flex: 0 0 70px;
            margin-right: 16px;
        }

        .product-details-column:last-child {
            flex: 0 1 auto;
        }

        img {
            max-width: 70px;
        }

        p {
            font-size: 12px;
            color: $grey-2;
        }
        
        p.product-title {
            color: $grey-3;
            line-height: 16px;
        }

        .product-colour span {
            display: inline-block;
            width: 8px;
            height: 8px;
            background: #603265;
            border-radius: 16px;
        }

        .product-size span {
            color: $grey-3;
        }
    }

    p.product-total,
    .product-card-options {
        border-top: 2px solid $grey-1;
    }

    p.product-total {
        padding-top: 6px;
        width: 100%;
        text-align: right;
        font-size: 12px;
    }

    .product-card-options {
        margin-top: 5px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 8px;
    }

    p.remove-product,
    p.product-quantity {
        font-size: 12px;
    }

    p.remove-product {
        display: flex;
        align-items: center;    
        color: $grey-2;

        &:before {
            @extend %fa-icon;
            @extend .fal;
            content: fa-content($fa-var-trash-alt);
            margin-right: 6px;
        }
    }

    p.product-quantity {
        color: $grey-3;

        span {
            font-size: 16px;

            a.product-minus {
                color: $grey-2;
                margin-right: 8px;
                margin-left: 6px;
            }

            a.product-plus {
                margin-left: 8px;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .container {
        display: flex;
        flex: 1 0 auto;
    }

    .main-content {
        flex: 1 1 auto;
    }
    .shopping-bag {
        display: flex;
        box-sizing: border-box;
        flex: 0 0 290px;
        background: #F6F6F6;
        border-left: 2px solid $grey-1;
        padding: 24px;
        max-width: 290px;
    }
}